	html {
		font-size: 100%;
		height: 100%;
		width: 100%;
	}
	
	body {
		padding: 8px;
		margin: 0;
		height: 100%;
		background: #F2F0E6;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-weight: 400;
	}
	
	#pagewrap {
		width: 100%
		margin: 0;
	}
	
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;  
		box-sizing: border-box;   
	}
	
	hr {
		border: 0px;
		color: #000;
		background: #000;
		height: 1px;
	}
	
	a { text-decoration: none; }
	
	
	
	
	
/********* FRAMEWORK **********/


	#menu {
		
	}
	
		#header {
			margin-bottom: 4px;
		}
	
		#menubar {
		    margin-bottom: 4px;
		}

			.menu_link {
			    font-size: 14px;
			    color: #000;
			}
			
			.menu_link:hover, .current {
			    color: #000;
			    text-decoration: underline;
			}



/********* PAPER **********/

	#paper {
	    overflow: hidden;
	    margin: auto;
	    position: absolute;
	    left: 0px;
	    top: 165px;
	    height: 300px;
	    width: calc(100% - 60px);
	    padding: 30px;
	    background: #fff;
	    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	}
	
	.handle {
	    position:absolute;
	    left: 0px;
	    top: 0px;
	    z-index:10;
	    transition: opacity 0.2s ease;
	    cursor: move;
	    width: 30px;
	    height: 30px;
	    opacity: 0.3;
	}
	
	
	.handle:hover {
	    opacity: 1;
	}
	
	.resizable {
	    width: 80%;
	    display: none;
	    padding: 12px;
	    border: 1px solid #fff;
	    outline: 0px;
	}
	
	.textfield {
	    outline: none;
	}
	
	#textfield_1 {
	    outline: none;
	    width: 100%;
	    font-size: 150px;
	    line-height: 300px;
	    visibility: hidden;
	}
	
	
	
	
	/* BLOCKS */
	
	.action {
	    padding: 0px 0px 16px 0px;
	    font-weight: 700;
	    color: #E6BE00;
	}
	
	.block_a {
	    position: relative;
	    float: left;
	    margin-right: 8px;
	    color: #6D6F71;
	}
	
	.block_b {
	    position: relative;
	    color: #6D6F71;
	    margin-top: 20px;
	    padding-top: 20px;
	    border-top: 1px solid #6D6F71;
	}
	
	
	
	/* BLOCK 1 */
	
	#selected_2 {
	    margin-top: 4px; 
	}
	
	#selected_1 a, #selected_2 a  {
	    display: block;
	    text-decoration: none;
	    background: #fff;
	    background-image: url('../img/arrow.png');
	    background-repeat: no-repeat;
	    background-position: 232px 14px;
	    width: 226px;
	    padding: 8px 16px;
	}
	
	#selected_1 a:hover, #selected_2 a:hover {
	    color: #fff;
	    background: #E6BE00;
	    background-image: url('../img/arrow.png');
	    background-repeat: no-repeat;
	    background-position: 232px 14px;
	}
	
	#list_1, #list_2 {
	    display: none;
	    margin-bottom: 2px;
	}
	
	#list_1 a, #list_2 a {
	    display: block;
	    text-decoration: none;
	    background: #E7E8E9;
	    width: 226px;
	    padding: 4px 16px;;
	}
	
	#list_1 a:hover, #list_2 a:hover {
	    color: #fff;
	    background: #E6BE00;
	}
	
	#nr_of_fonts {
	    width: 120px;
	    padding: 8px;
	}
	
	
	
	
	/* BLOCK 2 */
	
	.property_container {
	    position: relative;
	    top: -20px;
	    left: 80px;
	    width: 120px;
	    z-index: 1;
	}
	
	.property_line {
	    position: absolute;
	    top: 11px;
	    left: 0px;
	    width: 120px;
	    z-index: 2;
	    height: 2px;
	    background: #6D6F71;
	}
	
	.box:hover .property_line, .colorbox:hover .property_line  {
	    background: #000;
	}
	
	
	.drag {
	    transition: background 0.2s ease;
	    cursor: pointer;
	    -moz-border-radius: 16px;
	    -webkit-border-radius: 16px;
	    border-radius: 16px;
	    position: absolute;
	    top: 2px;
	    width: 16px;
	    height: 16px;
	    z-index: 3;
	    border: 2px solid #6D6F71;
	    background: #fff;
	}
	
	.box:hover .drag, .colorbox:hover .drag {
	    border: 2px solid #000;
	}
	
	
	.drag:hover {
	    background: #000;
	}
	
	.box_inactive .drag {
	    border: 2px solid #6D6F71;
	    background: #fff;
	}
	
	
	.box {
	    background: #fff;
	    padding: 8px 16px;
	}
	
	.colorbox {
	    background: #fff;
	    padding: 2px 0px;
	}
	
	.box:hover, .colorbox:hover {
	    color: #000;
	}
	
	.box_inactive {
	    background: #fff;
	    padding: 8px 16px;
	    opacity: 0.3;
	}
	
	.close {
	    transition: background 0.2s ease;
	    position: absolute;
	    top: 8px;
	    left: 136px;
	    cursor: pointer;
	    position: absolute;
	    width: 4px;
	    height: 4px;
	    z-index: 2;
	    border: 2px solid #6D6F71;
	}
	
	.close:hover {
	    background: #000;
	}
	
	.box:hover .close {
	    border: 2px solid #000;
	}
	
	.box_inactive .close {
	    background: #6D6F71;
	}
	
	.box_inactive .close:hover {
	    border: 2px solid #6D6F71;
	    background: #fff;
	}
	
	
	
	
	
	/* BLOCK 3 */
	
	#font_name {
	    margin-left: 0px;
	    margin-right: 2px;
	    margin-bottom: 4px;
	    color: #fff;
	    padding: 8px 16px;
	    background: #E6BE00;
	}
	
	#font_name b {
	    font-weight: 400;
	}
	
	#favorite_font {
	    width: 10px;
	    height: 20px;
	    margin-left: 0px;
	    margin-bottom: 4px;
	    background: #E6BE00;
	    padding: 8px 10px;
	}
	
	a.heart {
	    transition: color 0.2s ease;
	    text-decoration: none;
	}
	
	a.heart:hover {
	    color: #000;
	}
	
	#heart_img {
	    position: relative;
	    top: 6px;
	}
	
	#editor {
	    background: #fff;
	    padding: 8px 16px;
	    margin-bottom: 4px;
	}
	
	#colorbox {
	    display: none;
	    padding: 8px 16px;
	    background: #fff;
	    margin-bottom: 4px;
	}
	
	#downloadbox {
	    padding: 10px 16px;
	    background: #fff;
	}
	
	#url {
	    display: none;
	    margin-top: 4px;
	    margin-bottom: 6px;
	    width: 220px;
	    padding: 4px;
	    background: #fff;
	    border: 0px;
	    background: #F2F0E6;
	}
	
	
	
	
	
	/* TOPMENU */
	
	#topmenu {
	    font-size: 14px;
	    color: #6D6F71;
	    position: absolute; 
	    z-index: 10; 
	    right: 0px; 
	    top: 40px;
	    width: 400px
	}
	
	.label_container {
	    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	}
	
	.label {
	    background: #6D6F71;
	    color: #fff;
	    padding: 8px;
	    width: 60px;
	    text-align: center;
	    border: solid 1px #6D6F71;
	    cursor: pointer;
	}
	
	.close_top {
	    position: absolute;
	    left: 76px;
	    top: 0px;
	    background: #F2F0E6;
	    padding: 8px;
	    width: 16px;
	    text-align: center;
	    border: solid 1px #6D6F71;
	    cursor: pointer;    
	}
	
	.topitem {
	    background: #F2F0E6;
	    color: #6D6F71;
	    padding: 32px 16px;
	    margin-bottom: 16px;
	    margin-top: -1px;
	    border: solid 1px #9d8200;
	    border-right: 0px;
	    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	}
	
	.cover {
	    position: absolute;
	    left: 0px;
	    top: 36px;
	    background: #F2F0E6;
	    padding: 3px;
	    width: 150px;
	    text-align: center;
	    border-top: solid 1px #6D6F71;
	    border-left: solid 1px #6D6F71;
	}
	
	
	#search_field {
	    font-family: 'Roboto Condensed', sans-serif;
	    font-weight: 400;
	    font-size: 14px;
	    line-height: 20px;
	    width: 168px;
	    border: 0px;
	    outline: 0;
	    width: 234px;
	    height: 20px;
	    background: #fff;
	    color: #6D6F71;
	    padding: 8px 16px;
	}
	
	#glass {
	    position: absolute;
	    left: 306px;
	    top: 82px;
	    width: 20px;
	    height: 20px;
	    width: 20px;
	}
	
	#search_results {
	    width: 266px;
	    background: #E7E8E9;
	    visibility: hidden;
	}
	
	a.search {
	    display: block;
	    text-decoration: none;
	    background: #E7E8E9;
	    color: #6D6F71;
	    width: 234px;
	    padding: 2px 16px;
	}
	
	a.search:hover {
	    color: #fff;
	    background: #E6BE00;
	}
	
	a.fav_and_rel {
	    display: inline-block;
	    vertical-align:top;
	    text-decoration: none;
	    color: #6D6F71;
	    background: #F2F0E6;
	    width: 230px;
	    padding-left: 8px;
	    padding-right: 8px;
	    padding-top: 2px;
	    padding-bottom: 2px;
	}
	
	a.fav_and_rel:hover {
	    color: #6D6F71;
	    background: #E6BE00;
	}
	
	a.close_fav {
	    text-decoration: none;
	    color: #6D6F71;
	    background: #F2F0E6;
	    padding: 2px 8px;
	}
	
	a.close_fav:hover {
	    color: #6D6F71;
	    background: #E6BE00;
	}
	
	a.chosen_mode {
	    display: inline-block;
	    vertical-align:top;
	    text-decoration: none;
	    color: #6D6F71;
	    background: #E6BE00;
	    width: 230px;
	    padding-left: 8px;
	    padding-right: 8px;
	    padding-top: 2px;
	    padding-bottom: 2px;
	    cursor: default;
	}
	
	
	
	
	
	
	/* APARTE BOXEN */
	
	#message {
	    font-weight: 400;
	    width: 200px;
	    color: #fff;
	    background: #ccc;
	    border: 1px solid #9d8200;
	    padding: 16px 16px;
	    z-index: 10;
	    position: absolute;
	    left: 700px;
	    top: 300px;
	    visibility: hidden;
	    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	}
	
	a.close_message {
	    font-size: 10px;
	    -moz-border-radius: 16px;
	    -webkit-border-radius: 16px;
	    border-radius: 16px;
	    padding: 6px 6px;
	    background: #D60000;
	    transition: background 0.2s ease;
	    text-decoration: none;
	    color: #fff;
	}
	
	a.close_message:hover {
	    background: #f00;
	}
	
	
	
	
	/* FOOTER */
	
	#footer {
	    position: fixed;
	    right:4px;
	    width: 150px;
	    z-index: 10;
	    bottom:4px;
	    color: #6D6F71;
	    font-size: 10px;
	    padding: 8px;
	    text-align:right;
	}
	
	#footer a:link, #footer a:active, #footer a:visited {
	    padding: 4px 8px;
	    font-size: 12px;
	    font-family: 'Dosis';
	    font-weight: 700;
	    color: #6D6F71;
	    text-decoration: none;
	    background-color: #fff;
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F2F0E6));
	    background-image: -webkit-linear-gradient(top, #fff, #F2F0E6);
	    background-image:    -moz-linear-gradient(top, #fff, #F2F0E6);
	    background-image:      -o-linear-gradient(top, #fff, #F2F0E6);
	    background-image:         linear-gradient(to bottom, #fff, #F2F0E6);
	    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	}
	
	#footer a:hover {
	    font-family: 'Dosis';
	    font-weight: 700;
	    color: #000;
	    text-decoration: none;
	}
	
	
	#loading {
	    display: none;
	    position: absolute;
	    z-index: 20;
	    top: 330px;
	    left: 50%;
	}
	
	.testarea {
	    width: 180px;
	    height: 250px;
	    resize: vertical;
	}
	
	
	
	
	/* OTHER PAGES */
	
	#content {
	    color: #000;
	    max-width: 800px;
	}
	
	#content a {
	    color: #000;
	    text-decoration: underline;
	}
	
	#content a:hover {
	    color: #E6BE00;
	    text-decoration: underline;
	}
	
	#vox {
	    width: 200px;
	    padding: 16px;
	    color: #000;
	    background: #fff;  
	}
	
	#classification b {
	    padding: 2px;
	    text-transform: uppercase;
	    font-weight: 400;
	    font-size: 14px;
	    line-height: 20px;
	    color: #000;
	    background: #E6BE00;
}