	html {
		font-size: 100%;
		height: 100%;
		width: 100%;
	}
	
	body {
		margin: 0;
		height: 100%;
		background: #F2F0E6;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-weight: 400;
	}
	
	#pagewrap {
		width: 100%
		margin: 0;
	}
	
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;  
		box-sizing: border-box;   
	}
	
	hr {
		border: 0px;
		color: #000;
		background: #000;
		height: 1px;
	}
	
	a { 
		text-decoration: none; 
		cursor: pointer;
	}
	
	
	
	
	
/********* FRAMEWORK **********/


	#menu {
		padding: 8px;
	}
	
		#header {
			margin-bottom: 4px;
		}
	
		#menubar {
		    margin-bottom: 4px;
		}

			.menu_link {
			    font-size: 14px;
			    color: #000;
			}
			
			.menu_link:hover, .current {
				font-size: 14px;
			    color: #000;
			    text-decoration: underline;
			}
			




/********* PAPER **********/


	#paper {
		position: absolute;
		top: 145px;
		left: 0px;
	    overflow: hidden;
	    height: 360px;
	    width: 100%;
	    margin-top: 1em;
	    padding: 30px;
	    background: #fff;
	    -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	}
	
	.handle {
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    z-index:10;
	    transition: opacity 0.2s ease;
	    cursor: move;
	    width: 30px;
	    height: 30px;
	    opacity: 0.3;
	}
	
	.handle:hover {
	    opacity: 1;
	}
	
	.resizable {
	    width: 80%;
	    display: none;
	    padding: 12px;
	    border: 1px solid #fff;
	    outline: 0px;
	}
	
	.textfield {
	    outline: none;
	}
	
	#textfield_1 {
	    outline: none;
	    width: 100%;
	    visibility: hidden;
	}
	
	
	
	
	
/********* Toolbar **********/


	#toolbar {
		position: absolute;
		top: 510px;
		padding: 8px;
		margin-top: 2em;
	}
	
	.action {
	    padding: 0px 0px 16px 0px;
	    font-weight: 700;
	    color: #E6BE00;
	}
	
	.block_a {
	    position: relative;
	    float: left;
	    margin-right: 8px;
	    color: #6D6F71;
	}
	
	.block_b {
	    position: relative;
	    color: #6D6F71;
	    margin-top: 20px;
	    padding-top: 20px;
	    border-top: 1px solid #6D6F71;
	}
	
	
	
	
	
/********* Block 1 **********/
	

	#selected_1 a, #selected_2 a  {
	    display: block;
	    text-decoration: none;
	    background: #fff;
	    background-image: url('../img/arrow.png');
	    background-repeat: no-repeat;
	    background-position: 232px 14px;
	    width: 258px;
	    padding: 8px 16px;
	}
	
	#selected_1 a:hover, #selected_2 a:hover {
	    color: #fff;
	    background-color: #E6BE00;
	}
	
	#selected_2 {
	    margin-top: 4px; 
	}
	
	#list_1, #list_2 {
	    display: none;
	    margin-bottom: 2px;
	}
	
	#list_1 a, #list_2 a {
	    display: block;
	    text-decoration: none;
	    background: #E7E8E9;
	    width: 258px;
	    padding: 4px 16px;;
	}
	
	#list_1 a:hover, #list_2 a:hover {
	    color: #fff;
	    background: #E6BE00;
	}
	
	#nr_of_fonts {
	    padding: 8px;
	}
	
	
	

	
/********* Block 2 **********/
/********* See slider.css **********/

	
	
	
/********* Block 3 **********/
	
	
	#result {
		overflow: auto;
	}
	
	#font_name {
	    margin-left: 0px;
	    margin-right: 2px;
	    margin-bottom: 4px;
	    color: #fff;
	    padding: 8px 16px;
	    background: #E6BE00;
	    width: 227px; 
	    height: 36px;
	    float: left;
	}
	
	#font_name b {
	    font-weight: 400;
	}
	
	#favorite_font {
	    width: 30px;
	    height: 36px;
	    margin-bottom: 4px;
	    background: #E6BE00;
	    padding: 8px 10px;
	    float: left;
	}
	
	a.heart {
	    transition: color 0.2s ease;
	    text-decoration: none;
	}
	
	a.heart:hover {
	    color: #000;
	}
	
	#heart_img {
	    position: relative;
	    top: 6px;
	}
	
	#editor {
	    background: #fff;
	    padding: 8px 16px;
	    margin-bottom: 4px;
	}
	
	#colorbox {
	    display: none;
	    padding: 8px 16px;
	    background: #fff;
	    margin-bottom: 4px;
	}
	
	#downloadbox {
	    padding: 10px 16px;
	    background: #fff;
	}
	
	#url {
	    display: none;
	    margin-top: 4px;
	    margin-bottom: 6px;
	    width: 220px;
	    padding: 4px;
	    background: #fff;
	    border: 0px;
	    background: #F2F0E6;
	}
	
	
	
	
	
/********* Topmenu **********/
	
	#topmenu {
	    color: #6D6F71;
	    position: absolute; 
	    z-index: 10; 
	    right: 0px; 
	    top: 40px;
	    width: 400px;
	    font-size: 14px;
	}
	
	.label_container {
		position: relative; 
		width: 122px;
	    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	}
	
	.label {
		font-size: 14px;
	    background: #6D6F71;
	    color: #fff;
	    padding: 8px;
	    width: 90px;
	    height: 36px;
	    text-align: center;
	    border: solid 1px #6D6F71;
	    cursor: pointer;
	}
	
	.close_top {
	    position: absolute;
	    left: 90px;
	    top: 0px;
	    background: #F2F0E6;
	    padding: 8px;
	    width: 32px;
	    text-align: center;
	    border: solid 1px #6D6F71;
	    cursor: pointer;    
	}
	
	.topitem {
	    background: #F2F0E6;
	    color: #6D6F71;
	    padding: 32px 16px;
	    margin-bottom: 16px;
	    border: solid 1px #6D6F71;
	    border-right: 0px;
	    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	}
	
	.cover {
	    position: absolute;
	    left: 0px;
	    top: 36px;
	    background: #F2F0E6;
	    width: 156px;
	    border-top: solid 1px #6D6F71;
	    border-left: solid 1px #6D6F71;
	}
	
	
	#search_field {
	    font-family: 'Roboto Condensed', sans-serif;
	    font-weight: 400;
	    font-size: 14px;
	    line-height: 20px;
	    width: 168px;
	    border: 0px;
	    outline: 0;
	    width: 266px;
	    height: 36px;
	    background: #fff;
	    color: #6D6F71;
	    padding: 8px 16px;
	}
	
	#glass {
	    position: absolute;
	    left: 306px;
	    top: 82px;
	    width: 20px;
	    height: 20px;
	    width: 20px;
	}
	
	#search_results {
	    width: 266px;
	    background: #E7E8E9;
	    visibility: hidden;
	}
	
	a.search {
	    display: block;
	    text-decoration: none;
	    background: #E7E8E9;
	    color: #6D6F71;
	    width: 266px;
	    padding: 2px 16px;
	}
	
	a.search:hover {
	    color: #fff;
	    background: #E6BE00;
	}
	
	a.fav_and_rel {
	    display: inline-block;
	    vertical-align:top;
	    text-decoration: none;
	    color: #6D6F71;
	    background: #F2F0E6;
	    width: 246px;
	    padding: 2px 8px;
	}
	
	a.strikethrough {
		background: #fff; !important;
	}
	
	a.strikethrough:hover {
		background: #fff; !important;
	}
	
	a.fav_and_rel:hover {
	    color: #6D6F71;
	    background: #E6BE00;
	}
	
	a.close_fav {
	    text-decoration: none;
	    color: #6D6F71;
	    background: #F2F0E6;
	    padding: 2px 8px;
	}
	
	a.close_fav:hover {
	    color: #6D6F71;
	    background: #E6BE00;
	}
	
	a.chosen_mode {
	    display: inline-block;
	    vertical-align:top;
	    text-decoration: none;
	    color: #6D6F71;
	    background: #E6BE00;
	    width: 246px;
	    padding: 2px 8px;
	    cursor: default;
	}
	
	
	
	
		
/********* Others **********/
	
	
	#message {
	    font-weight: 400;
	    width: 200px;
	    color: #fff;
	    background: #ccc;
	    border: 1px solid #9d8200;
	    padding: 16px 16px;
	    z-index: 10;
	    position: absolute;
	    left: 700px;
	    top: 300px;
	    visibility: hidden;
	    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	}
	
	a.close_message {
	    font-size: 10px;
	    -moz-border-radius: 16px;
	    -webkit-border-radius: 16px;
	    border-radius: 16px;
	    padding: 6px 6px;
	    background: #D60000;
	    transition: background 0.2s ease;
	    text-decoration: none;
	    color: #fff;
	}
	
	a.close_message:hover {
	    background: #f00;
	}
	
	
	
	
	
/********* footer **********/
	
	
	#footer {
	    position: fixed;
	    right: 4px;
	    width: 150px;
	    z-index: 10;
	    bottom:4px;
	    color: #6D6F71;
	    font-size: 10px;
	    padding: 8px;
	    text-align:right;
	}
	
	#footer a:link {
	    padding: 4px 8px;
	    font-size: 12px;
	    font-family: 'Dosis';
	    font-weight: 700;
	    color: #6D6F71;
	    text-decoration: none;
	    background-color: #fff;
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F2F0E6));
	    background-image: -webkit-linear-gradient(top, #fff, #F2F0E6);
	    background-image:    -moz-linear-gradient(top, #fff, #F2F0E6);
	    background-image:      -o-linear-gradient(top, #fff, #F2F0E6);
	    background-image:         linear-gradient(to bottom, #fff, #F2F0E6);
	    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	}
	
	#footer a:hover {
	    color: #000;
	}
	
	#loading {
	    display: none;
	    position: absolute;
	    z-index: 20;
	    top: 330px;
	    left: 50%;
	}
	



	
/********* Other pages **********/
	
	
	#content {
	    color: #000;
	    max-width: 800px;
	    padding: 8px;
	    padding-bottom: 3em;
	}
	
	#content a {
	    color: #000;
	    text-decoration: underline;
	}
	
	#content a:hover {
	    color: #E6BE00;
	}
	
	#vox {
	    width: 200px;
	    padding: 16px;
	    color: #000;
	    background: #fff;  
	}
	
	#classification b {
		font-weight: 400;
		background-color: #F8F8F8;
		border: 1px solid #DDDDDD;
		border-radius: 5px;
		margin: 0;
		padding: 2px 4px;
		vertical-align: middle;
	}