@import "styles/variables";

.Designer {

    .designer__row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        padding: 6px 0;

        .designer__label {
            width: calc(100% - 158px)
        }

        .designer__content {
            width: 158px;
            display: flex;
        }
    }
}