    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        height: 100%;
        background: #F2F0E6;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        padding: 12px;
    }
    
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;  
    }
    
    menubar, sidepanel, footer, field, paper, slider, dropdown {
        display: block;
    }
    
    #logo {
        margin-bottom: 4px;
        height: 60px;
        width: auto;
    }
    
    


        
/********** tools **********/

    tools {
        width: 300px;
        padding-right: 20px;
        height: 100%;
        display: inline-block;
        float: left;
    }
    
        .toolbar-set {
            width: 100%;
            display: inline-block;
            border-left: 1px dotted rgba(0,0,0,0.4);
            margin-bottom: 4px;
            border: 1px dotted rgba(0,0,0,0.4);
        }
        
            .toolbar-set-head {
                width: 100%;
                color: #e6be00;
                padding: 4px 10px;
                font-size: 16px;
                border-bottom: 1px dotted rgba(0,0,0,0.4);
            }
            
            .toolbar-set-body {
                padding: 10px;
            }
        
            .font-name {
                width: 100%;
                background: #e6be00;
                color: #fff;
                padding: 4px 8px;
            }
    
        slider {
            width: 260px;
            height: 28px;
            padding: 4px;
            opacity: 0.5;
            transition: all 0.3s;
        }
        
            slider.inactive, slider.inactive:hover {
                opacity: 0.1;
            }
        
            slider:hover {
                opacity: 0.8;
            }
        
            slider svg {
                width: 100%;
                height: 100%;
            }
        
                .slider-background {
                    fill: none;
                }
                
                .slider-axis {
                    stroke-width: 2;
                    stroke: #000;
                }
                
                .slider-handle {
                    stroke: #000;
                    stroke-width: 2;
                    fill: #F2F0E6;
                    cursor: pointer;
                    transition: all 0.3s;
                }
                
                    .slider-handle:hover {
                        fill: #000;
                    }
                    
                .slider-button-on {
                    stroke: #000;
                    stroke-width: 2;
                    fill: #fff;
                    cursor: pointer;
                }
                
                .slider-button-off {
                    stroke: #000;
                    stroke-width: 2;
                    fill: #000;
                    cursor: pointer;
                }
                
     #align {
         margin-top: 10px;
     }
                
    .align {
        display: inline-block;
        width: 22px;
        height: 16px;
        margin-right: 4px;
        cursor: pointer;
    }
    
        .align-left {
            background-image: url('../img/align-left1.png');
        }
        
        .align-left:hover {
            background-image: url('../img/align-left3.png');
        }
    
        .align-left.selected {
            background-image: url('../img/align-left2.png');
        }
        
        .align-center {
            background-image: url('../img/align-center1.png');
        }
        
        .align-center:hover {
            background-image: url('../img/align-center3.png');
        }
    
        .align-center.selected {
            background-image: url('../img/align-center2.png');
        }
        
        .align-right {
            background-image: url('../img/align-right1.png');
        }
        
        .align-right:hover {
            background-image: url('../img/align-right3.png');
        }
    
        .align-right.selected {
            background-image: url('../img/align-right2.png');
        }
        
    #color {
        cursor: pointer;
        position: relative;
    }
    
        #color-picker {
            display: inline-block;
            position: absolute;
            left: 26px;
            top: -106px;
            width: 180px;
            height: 128px;
            background: #F2F0E6;
            border: 1px dotted rgba(0,0,0,0.4);
            padding: 8px;
        }
        
    #search-container {
        position: relative;
        height: 26px;
    }
    
        #searchbox {
            margin-bottom: 4px;
            width: 258px;
            border: 0;
            padding: 4px 8px;
        }
    
        #found-fonts {
            position: absolute;
            left: 0;
            bottom: 26px;
            z-index: 100;
            background: #ddd;
            width: 258px;
            padding: 8px 0;
        }     
        
        #found-more {
            padding: 8px 2px;
            color: #555;
            border-top: 1px dotted rgba(0,0,0,0.4);
            margin-top: 4px;
        }   
        
        
        
/********** workarea **********/

    workarea {
        display: inline-block;
        width: calc(100% - 300px);
        height: 100%;
        float: left;
    }
    
    paper {
        background: #fff;
        position: relative;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    }
    
        field {
            position: absolute;
            padding: 40px 0 0 40px;
            border: 1px solid transparent;
        }
        
        field.current {
            border: 1px dotted #ddd;
        }
        
        
        

/********** dropdown **********/

    dropdown {
        position: relative;
        cursor: pointer;
        margin-bottom: 4px;
        max-width: 260px;
    }
    
    .dd-head {
        width: 100%;
        padding: 3px 4px;
        position: relative;
        height: 24px;
    }
    
        .dd-head.in:before {
            font-size: 10px;
            padding-top: 1px;
            content: "▼";
            right: 8px;
            position: absolute;
        }
        
        .dd-head.out:before {
            font-size: 10px;
            padding-top: 1px;
            content: "▲";
            right: 8px;
            position: absolute;
        }
    
        .dd-body {
            position: absolute;
            left: 0;
            z-index: 100;
            width: 100%;
        }
        
            .dd-body.dd-down {
                top: 24px;
            }
        
            .dd-body.dd-up {
                bottom: 24px;
            }
        
            .dd-button {
                width: 100%;
                height: 24px;
                background: #ddd;
                color: #555;
                padding: 3px 4px;
                cursor: pointer;
            }
            
            .dd-head:hover, .dd-button:hover {
                background: #e6be00;
                color: #fff;
            }
