@import "styles/variables";

.tools {
    width: 300px;
    height: 100%;
    overflow: auto;
    padding: $grid-size-x2;
    color: $main-text-color;

    select {
        margin-bottom: 8px;
    }
}