@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}