/****** MAIN ****/

    #legenda {
	font-family: "Roboto";
	font-size: 12px;
	padding: 10px;
    }
    
    #properties {
	font-family: "Roboto";
	font-size: 12px;
	padding: 10px;
	clear: both;
    }
    
    #holder {
	    background: #fff;
	    position:relative;
	    left: 400px;
	    top: -120px;
	    width: 600px;
	    height: 550px;
    }
    
/****** CUBE ****/
    
    .wrap {
	    -moz-perspective: 1600px;
	    -webkit-perspective: 1600px;
	    -ms-perspective: 1600px;
	    perspective: 1600px;
	    -moz-perspective-origin: 50% 200px;
	    -webkit-perspective-origin: 50% 200px;
	    -ms-perspective-origin: 50% 200px;
	    perspective-origin: 50% 200px;
    }
     
    .cube {
	    position: relative;
	    width: 800px;
	    background: #eee;
	    -moz-transform-style: preserve-3d;
	    -webkit-transform-style: preserve-3d;	
	    -ms-transform-style: preserve-3d;
	    transform-style: preserve-3d;
    }
        
      
    .side {
	border: 1px solid #ddd;
	position: absolute;
	opacity: 1;
	width: 600px;
	height: 600px;
    }
    
    .back {
	-moz-transform: translateZ(-300px) rotateY(180deg);
	-webkit-transform: translateZ(-300px) rotateY(180deg);
	-ms-transform: translateZ(-300px) rotateY(180deg);
	transform: translateZ(-300px) rotateY(180deg);
    }
    
    .right {
	-moz-transform: rotateY(-270deg) translateX(300px);
	-webkit-transform: rotateY(-270deg) translateX(300px);
	-ms-transform: rotateY(-270deg) translateX(300px);
	transform: rotateY(-270deg) translateX(300px);
	-moz-transform-origin: top right;
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
    }
    
    .left {
	-moz-transform: rotateY(270deg) translateX(-300px);
	-webkit-transform: rotateY(270deg) translateX(-300px);
	-ms-transform: rotateY(270deg) translateX(-300px);
	transform: rotateY(270deg) translateX(-300px);
	-moz-transform-origin: center left;
	-webkit-transform-origin: center left;
	-ms-transform-origin: center left;
	transform-origin: center left;
    }
    
    .top {
	-moz-transform: rotateX(-90deg) translateY(-300px);
	-webkit-transform: rotateX(-90deg) translateY(-300px);
	-ms-transform: rotateX(-90deg) translateY(-300px);
	transform: rotateX(-90deg) translateY(-300px);
	-moz-transform-origin: top center;
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
    }
    
    .bottom {
	-moz-transform: rotateX(90deg) translateY(300px);
	-webkit-transform: rotateX(90deg) translateY(300px);
	-ms-transform: rotateX(90deg) translateY(300px);
	transform: rotateX(90deg) translateY(300px);
	-moz-transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	transform-origin: bottom center;
    }
    
    .front {
	-moz-transform: translateZ(300px);
	-webkit-transform: translateZ(300px);
	-ms-transform: translateZ(300px);
	transform: translateZ(300px);
    }
    
    
    
/****** DOTS ****/
    
    .dot {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	-moz-transition: all 3s;
	-webkit-transition: all 3s;
	-ms-transition: all 3s;
	transition: all 3s;
	
    }
    
    .self {

    }
    
    .mirror {
	-moz-transform-origin: top right;
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
    }
    
    
/****** LEGENDA ****/

    .small {
	width: 12px;
	float: left;
	clear: both;
    }
    
    .text {
	float: left;
	padding-left: 4px;
    }
    
    .red {
	background: #f00;
    }
    
    .blue {
	background: #00f;
    }
    
    .green {
	background: #0f0;
    }
    
    .orange {
	background: #fc0;
    }
    
    .yellow {
	background: #ff0;
    }
    
    .purple {
	background: #f0f;
    }
    
    .grey {
	background: #555;
    }
    
/****** SLIDER ******/

	.slider {
		width: 120px;
		color: #000;
	}
	
	.ui-slider {
		background: #000;
		border: 0px;
		height: 2px;
	}
	
	
	.ui-slider .ui-slider-handle {
		z-index: 2;
		transition: background, border 0.2s ease;
		cursor: pointer;
		-moz-border-radius: 16px;
		-webkit-border-radius: 16px;
		border-radius: 16px;
		width: 16px;
		height: 16px;
		border: 2px solid #6D6F71;
		background: #000;
	}
	
	
	.ui-slider-handle:focus {
		outline: 0px;
	}