@import "../../shared/styles/variables";

.Text {

    textarea {
        width: 100%;
        height: 100%;
        border: 0;
        resize: none;
        outline: none;
        vertical-align: baseline;
        background: transparent;
    }
}