@import "styles/variables";

.Paper {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    position: relative;

    .Paper__outside {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}