<img id="logo" src="img/logo_fontapp.jpg">
<div class="toolbar-set">
    <div class="toolbar-set-body">
        <dropdown>
            <div class="dd-head" ng-mousedown="shared.openDropdown('category')" ng-class="{'in': !shared.settings.dropdown.category, 'out': shared.settings.dropdown.category}">
                {{shared.settings.category}}
            </div>
            <div class="dd-body dd-down" ng-if="shared.settings.dropdown.category">
                <div class="dd-button" ng-click="changeCategory(cat)" ng-repeat="cat in category" ng-if="cat != shared.settings.category">{{cat}}</div>
            </div>
        </dropdown>
        
        <dropdown>
            <div class="dd-head" ng-mousedown="shared.openDropdown('style')" ng-class="{'in': !shared.settings.dropdown.style, 'out': shared.settings.dropdown.style}">
                {{shared.settings.style}}
            </div>
            <div class="dd-body dd-down" ng-if="shared.settings.dropdown.style">
                <div class="dd-button" ng-click="changeStyle(st)" ng-repeat="st in style" ng-if="st != shared.settings.style">{{st}}</div>
            </div>
        </dropdown>
        {{shared.settings.totalFonts}} fonts found
    </div>
</div>

<div class="toolbar-set">
    <div class="toolbar-set-body">
        <slider type="parameter" index="{{$index}}" ng-repeat="slider in shared.sliders" ng-class="{'inactive': !slider.edit}"></slider>
    </div>
</div>

<div class="toolbar-set">
    <div class="toolbar-set-body">
        <div class="font-name">
            {{shared.current.field.fontFamily}} {{shared.current.field.fontWeight}}
        </div>
        <slider type="fontsize" index="1"></slider>
        <slider type="lineheight" index="1"></slider>
        <div id="align">
            <div ng-click="shared.current.field.textAlign = al" class="align align-{{al}}" ng-repeat="al in align" ng-class="{'selected': al == shared.current.field.textAlign}"></div>
        </div>
        <div id="color" class="dropdown">
            <img src="img/color1.png" ng-mousedown="shared.openDropdown('color')">
            <div id="color-picker" ng-if="shared.settings.dropdown.color">
                <slider type="color" index="{{$index}}" ng-repeat="color in cmyk"></slider>
            </div>
        </div>
    </div>
</div>

<div class="toolbar-set">
    <div class="toolbar-set-body">
    <div id="search-container" class="clickfree">
        <input id="searchbox" ng-model="search" placeholder="Search for a font..." ng-keyup="searchFont(); shared.settings.dropdown.search = true" ng-click="shared.settings.dropdown.search = true">
        <div id="found-fonts" ng-if="foundFont.length != 0 && shared.settings.dropdown.search">
            <div class="dd-button" ng-click="setFont(found.id)" ng-repeat="found in foundFont">{{found.string}}</div>
            <div id="found-more" ng-if="foundMore != ''">{{foundMore}}</div>
        </div>
    </div>
    <dropdown>
        <div class="dd-head" ng-mousedown="shared.openDropdown('favourites')" ng-class="{'in': !shared.settings.dropdown.favourites, 'out': shared.settings.dropdown.favourites}">
            Favourites ({{favourites.length}})
        </div>
        <div class="dd-body dd-down" ng-if="shared.settings.dropdown.category">
            <div class="dd-button" ng-click="setFont(favourite.id)" ng-repeat="favourite in favourites">{{favourite.fontFamily}} {{favourite.fontWeight}}</div>
        </div>
    </dropdown>
    <dropdown>
        <div class="dd-head" ng-mousedown="shared.openDropdown('related')" ng-class="{'in': !shared.settings.dropdown.related, 'out': shared.settings.dropdown.related}">
            Related ({{relatedFonts.length}})
        </div>
        <div class="dd-body dd-up" ng-if="shared.settings.dropdown.related">
            <div class="dd-button" ng-click="setFont(related.id)" ng-repeat="related in relatedFonts | orderBy: 'weight'">{{related.string}}</div>
        </div>
    </dropdown>
    </div>
</div>

<div class="toolbar-set">
    <div class="toolbar-set-body">
        <button>1</button> <button>2</button> <button>4</button>
    </div>
</div>
