@import "../../shared/styles/variables";

.Tools {
    padding: $grid-size-x2;

    .tool-box {
        pointer-events: none;
        opacity: 0.5;

        &.tool-box--always-active {
            pointer-events: all;
            opacity: 1;
        }
    }

    select {
        margin-bottom: 8px;
    }



    &.Tools--active {

        .tool-box {
            pointer-events: all;
            opacity: 1;
        }
    }
}