@import "styles/variables";

.Box {
    position: relative;
    padding: 8px;
    z-index: 2;

    > .single-resizer {
        border: 1px dotted $theme-color;
        background: #fff;
        z-index: 1;

        .resizable-handler {
            cursor: default!important;
        }

        .square {
            border: 1px solid $theme-color;
        }
    }

    .Text {
        position: absolute;
        z-index: 2;
    }
}