@import "styles/variables";

.Box {
    position: relative;

    .text-container {
        position: absolute;
        overflow: hidden;
    }


    .single-resizer {
        border: 1px dotted $theme-color;
        background: transparent;

        .resizable-handler {
            cursor: default!important;
        }

        .square {
            border: 1px solid $theme-color;
        }
    }
}