@import "../../shared/styles/index";
@import "../../shared/styles/variables";

* {
    box-sizing: border-box;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $background-color;
    display: flex;
    color: $main-text-color;

    .Tools {
        width: 300px;
        overflow: auto;
    }

    .Desk {
        width: calc(100% - 300px);
        overflow: hidden;
    }
}
