@import "styles/variables";

.FontFamily {
    background: $theme-color;
    height: 24px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: $grid-size-x2;
    font-weight: 700;
    flex-grow: 1;
}