@import "../../shared/styles/variables";

.Identity {
    display: flex;
    height: 60px;
    margin-bottom: $grid-size-x2;

    .Identity__logo {
        height: 100%;
        width: auto;
        display: block;
    }
}